# Unity generated
Temp/
Library/
Obj/
Build/
Builds/
Logs/
UserSettings/

# Visual Studio / MonoDevelop generated
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db